<!DOCTYPE html>
<html>
    <head>
        <title>WAB3</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src='/js/vendor.js'></script>
        <script src='/js/classes.js'></script>
        <script src='/js/templates.js'></script>
        <script>Objects.config.server_ip = '<%= server_ip%>';</script>
        <script src='/js/index.js'></script>
    </head>
    <body>    
        <div id='content'>
        </div>
        <script type='text/babel'>
        $(document).ready(function() {
            ReactDOM.render(React.createElement(<%= template%>Template,<%- properties%>),document.getElementById('content'));
        });
        </script>
    </body>
</html>
